button {
  border: 0;
  background: none;
}

.tool {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 5px;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.25s ease-in-out;
}

.tool:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.tool h1 {
  font-size: 20px;
  margin: 5px 0;
  color: #272727;
}

 
